body {
  background-color: #ddd;
}

.header {
  height: 400px;
  background: url(./img/bg.jpg) no-repeat center;
  text-align: center;
  color: white;
  /* font-weight: 700; */
}

.block {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgb(0,0,0);
  padding: 1rem;
  margin-bottom: 2rem;
}

.footer {
  color: white;
  background-color: rgb(48, 47, 47);
  padding: 2rem 0;
  margin-top: 3rem;
}

.copyright {
  background-color: rgb(26, 26, 26);
  color: white;
  text-align: center;
  padding: 10px;
  /* line-height: 50px; */
}

